<div style="margin: 20px">


<div class="mx-auto" style="width: 500px">
  <h1>New Gossip</h1>
  <%= render 'form', gossip: @gossip%>
</div>
<div class="back_button" style="margin: 1em">
  <%= link_to 'Back', gossips_path,  class: "btn btn-outline-dark btn-sm", style: "width: 100px "%>
</div>
</br>
</div>
