<header>
    <nav class="navbar navbar-light" style="background-color: #aef88e; justify-content: space-around;">
    	<a class="navbar-brand" href="/">Accueil</a>
    	<a class="navbar-brand" href="/gossips">Les Gossips</a>
    	<a class="navbar-brand" href="/gossips/new">Nouveau Gossip</a>
    </nav>
  </div>
</header>